body {
color: black;	
font-family: Verdana,sans-serif,times-newroman;
font-size: 14 px;

margin-left:5;
margin-top:0;
margin-right:5;
margin-bottom:0;
margin-height:0; 
margin-width:0;
}

td {font-size: 14px;}
 
.thicktable { cellspacing : 0; cellpadding : 0; border:0; }

.thicktable50 { cellspacing : 0; cellpadding : 0; border:0; width:50%; }

.thicktable85 { cellspacing : 0; cellpadding : 0; border:0; width:85%; }

.thicktable100 { cellspacing : 0; cellpadding : 0; border:0; width:100%; }

.redstr { color: red; }

.greenstr { color:green;}
